<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=br.com.rleal"/>
        <listEntry value="artifactId=CadastroDeAlunos"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=br.com.rleal"/>
        <listEntry value="outputDirectory=C:\Users\roger\Documents\workspace-spring-tools-for-eclipse-5.2.0.RELEASE"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\roger\AppData\Local\Temp\m2e-archetypeGenerator13590615078727792294"/>
</launchConfiguration>
